html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-size: 1.2rem;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.homeimage
{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("./images/one.png");
    background-size: cover;
    margin: -10px -10px -10px -10px;
}

/*Main page enter button*/
.enter {
  border: none;
  cursor: pointer;
  height: 50px;
  width: 100px;
  font-size: 1rem;
  text-align: center;
  background-color: black;
  color: white;
}

.enter:hover{
  background-color: #9900FF;
}

.enterClicked{
  align-self: flex-end;
  padding-bottom: 1em;
}

/*End of page enter button*/

.menuimage
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("./images/halls/middle.png");
    background-size: cover;
    overflow: hidden;
}

.nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-top: 1em; */
  height: 100%;
  width: 100%;
}

nav a {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul{
list-style-type: none;
margin: 0;
padding: 0;
width: 100%;
}

nav li{
  /* border: 1px solid black; */
  height: 80px;
  width: 100%;
}

li:nth-child(1){
  background-color: rgb(170,170,170,0.7);
}

li:nth-child(2){
  background-color: rgba(146,133,171, 0.7);
}
li:nth-child(3){
  background-color: rgba(159,179,150,0.7);
}
li:nth-child(4){
  background-color: rgba(222,196,181,0.7);
}
li:nth-child(5){
  background-color: rgba(156,198,200,0.7);
}
li:nth-child(6){
  background-color: rgba(179,129,127,0.7);
}
li:nth-child(7){
  background-color: rgba(143,135,106,0.7);
}
li:nth-child(8){
  background-color: rgba(113,113,113,0.7);
}

.hamburger{
  width: 20%;
  height: auto;
  position: absolute;
  margin: 30px;
}

.hamburgerBars{
  border: 3.5px solid black;
  border-radius: 10px;
  box-shadow: 0 5px 5px #8859A9;
  width: 18%;
  margin-bottom: 5px;
}

.aboutimage
{
    height: 100vh;
    width: 100vw;
    background-image: url("./images/3.png");
    background-size: cover;
    margin: -10px -10px -10px -10px;
}

.playlistimage
{
    height: 100vh;
    width: 100vw;
    background-image: url("./images/5.png");
    background-size: cover;
    margin: -10px -10px -10px -10px;
}

.mapimage
{
    height: 100vh;
    width: 100vw;
    background-image: url("./images/6.png");
    background-size: cover;
    margin: -10px -10px -10px -10px;
}


.museumsoneimage{
    height: 100vh;
    width: 100vw;
    background-image: url("./images/museumsone.png");
    background-size: cover;
    margin: -10px -10px -10px -10px;
}

.museumstwoimage{
    height: 100vh;
    width: 100vw;
    background-image: url("./images/museumstwo.png");
    background-size: cover;
    margin: -10px -10px -10px -10px;
}

.museumsthreeimage{
    height: 100vh;
    width: 100vw;
    background-image: url("./images/museumsthree.png");
    background-size: cover;
    margin: -10px -10px -10px -10px;
}

.museumsfourimage{
    height: 100vh;
    width: 100vw;
    background-image: url("./images/museumsfour.png");
    background-size: cover;
    margin: -10px -10px -10px -10px;
}

.museumsfiveimage{
    height: 100vh;
    width: 100vw;
    background-image: url("./images/museumsfive.png");
    background-size: cover;
    margin: -10px -10px -10px -10px;
}

.museumssiximage{
    height: 100vh;
    width: 100vw;
    background-image: url("./images/museumssix.png");
    background-size: cover;
    margin: -10px -10px -10px -10px;
}

.exhibitionsimage, .specialExhibitionsImage, .learnhistoryimage, .fashion, .learnhistoryInfoPage {
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

/*These three cover the exhibitions background images
for all 3 major nav pages*/
.exhibitionsimage{
  background-image: url("./images/halls/left.png");
}

.specialExhibitionsImage{
  background-image: url("./images/halls/middle.png");
}

.learnhistoryimage
{
    background-image: url("./images/halls/right.png");
}

.fashion{
  background: url("./images/fashion.jpg") rgba(0, 0, 0, 0.7);
  background-size:cover;
  background-blend-mode: multiply;
  position: absolute;
}

.learnhistoryInfoPage{
  background: url("./images/lyh.jpg") rgba(0, 0, 0, 0.7);
  background-size:cover;
  background-blend-mode: multiply;
  position: absolute;
}

.learnhistoryInfoPage h4, .learnhistoryInfoPage h1, .learnhistoryInfoPage p{
  color: white;
  margin-top: 1em;
  text-align: center;
}

.learnhistoryInfoPage h4{
  margin-top: 5em;
}

.learnhistoryInfoPage p{
  padding: 0 2em 0 2em;
}

.learnhistoryInfoPage button{
  border: none;
  display: block;
  margin: 3em auto;
}


.exhibitionssection, .exhibitionsonesection, .exhibitionstwosection,
 .exhibitionsthreesection, .specialExhibitionsSection, .firstGalleryRoom, .secondGalleryRoom, .sixthGalleryRoom, .camcapGalleryRoom1, .camcapGalleryRoom4, .camcapGalleryRoom6, .btafGalleryRoom1, .btafGalleryRoom2, .btafGalleryRoom6, .rbhGalleryRoom2{
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 45%;
}

.specialExhibitionsSection{
  width: 25%;
}

/*All styling for exhibitionsonesection*/
.exhibitionsonesection{

}
/*May need to delete this ^^ i think it controls exhibitionspageone*/

/*vvv created for exhibitionspageone**/
.firstGalleryRoom{
  width: 40%;
}
/*^^^ created for exhibitionspageone*/

.secondGalleryRoom{
  width: 40%;
}

.sixthGalleryRoom{
  justify-content: space-around;
}

.camcapGalleryRoom1{
  justify-content: space-around;
}

.camcapGalleryRoom4{
  width: 42.5%;
}

.camcapGalleryRoom6{
  justify-content: space-around;
}

.btafGalleryRoom1{
  justify-content: space-around;
  width: 100%;
}

  .btafGalleryRoom2{
    width: 40%;
    justify-content: space-around;
  }

  .btafGalleryRoom6{
    margin-left: 2em;
    width: 44%;
  }


/*This will be added to all pages, just a test*/
.card, .cardPageTwo, .cardRbh{
  background-color: #fff;
  width: 50px;
  height: 25px;
  margin: auto;
}

.card h2{
  color: black;
  font-size: .2em;
  font-weight: bold;
  margin: 0;
}

.card p{
  color: black;
  font-size: .15em;
  margin: 0;
}


.cardPageTwo{
  width: 175px;
  height: 75px;
  margin-top: 3em;
}



.cardPageTwo p{
  color: black;
  font-size: .5em;
  padding: 2px;
  margin: 0;
}

.cardPageThree{
  color: transparent;
  height: 150px;
  width: 175px;
  margin-left: -0.5em;
}

.cardPageThree p{
  color: black;
  font-size: .7em;
}


.cardRbh{
  width: 225px;
  height: 120px;
  margin-top: 1.8em;
}

.cardRbh h2{
  color: black;
  font-size: .8em;
  margin: 0;
  padding: 0 0.5em 0 0.5em;
  text-align: left;
}

.cardRbh h4{
  color: black;
  font-size: .7em;
  font-weight: lighter;
  margin-top: .25em;
  margin-bottom: .02em;
  padding: 0 0.7em 0 0.7em;
  text-align: left;
}

.cardRbh p{
  color: black;
  font-size: .6em;
  margin-top: 0.2em;
  padding: 0 1em 0 1em;
  text-align: left;
}


/*End of styling for exhibitionsonesection*/
.exhibitionstwosection{
  width: 100%;
  justify-content: center;
}

/*THIS WILL BE REMOVED ONCE I ADD IMAGE*/
.placeHolderImage{
  margin-left: 8.5em;
  margin-top: 14em;
  height: 160px;
  width: 500px;
  background-color: black;
  border: 1px solid black;
}

.placeHolderText{
  color: white;
  text-align: center;
}
/*THIS WILL BE REMOVED ONCE I ADD IMAGE*/


.images, .imagesSpecialEx, .imagesLearnHistory, .imagesFirstGallery, .imagesSecondGallery, .imagesThirdGallery, .imagesFourthGallery,
.imagesFifthGallery, .imagesSixthGallery, .camcapImagesRoom4, .camcapImagesRoom6, .camcapImagesRoom7, .rbhImagesRoom2 {
  height: 150px;
  width: auto;
  position: relative;
  top: 14.5em;
  left: 14.2em;
  text-align: center;
}

.imagesSpecialEx{
  left: 25em;
}

.imagesLearnHistory{
  width: 100%;
  left: 22.5em;
}

.imagesFirstGallery{
  top: 13.5em;
  left: 15.8em;
}


.imagesSecondGallery{
  height: 175px;
  top: 13.5em;
  left: 21em;
}

.imagesSecondGallery h2{
  color: #8E7CC3;
  font-size: 2.4em;
  margin-top: 1.5em;
}

.imagesThirdGallery, .imagesFourthGallery{
  left: 21em;
  top: 13.5em;
}

.imagesFifthGallery{
  height: auto;
  width: 150px;
  left: 20.5em;
  top: 13.5em;
}

.imagesFifthGallery h2{
  font-size: 1.5em;
}

.imagesSixthGallery{
 top: 13.5em;
 left: 23em;
}

.camcapImagesRoom4{
  left: 20.2em;
  top: 13.5em;
}

.camcapImagesRoom6{
  left:20em;
  top: 13.5em;
}

.camcapImagesRoom7{
  height: 160px;
  left: 33em;
  top: 13.3em;
}

.rbhImagesRoom2{
  height: 180px;
  top: 13.5em;
  left: 23em;
}






.exhibitions, .exhibitionsone, .exhibitionstwo, .exhibitionsGalleryOne {
  display: block;
  width: 100%;
  height: 100%;
}

.exhibitionsGalleryOne{
  margin-bottom: .2em;
}
.overlay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.25s;
}

.overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.overlay:hover{
  opacity: 1;
}

.overlay:hover > * {
  transform: translateY(0);
}

.fashion h4{
  font-size: 2em;
  margin-top: 2.5em;
  margin-bottom: -1em;
  text-align: center;
  color: white;
}

.fashion h1{
  font-size: 3em;
  text-align: center;
  color: white;
}

.fashion p{
  font-size: 1.5em;
  padding-left: 1em;
  color: white;
}

.fashion button{
  border: none;
  display: block;
  margin: auto;
}


.btafonesection {
  padding-left: 450px;
  padding-top: 285px;
  min-width: 1280px;
  max-width: 1280px;
}

.btafone, .btaftwo, .btafthree, .btaffour, .btaffive, .btafsix {
  height: 150px;
  width: auto;
}



.infoGraph, .infoGraphbtaf{
  margin-top: 13.5em;
  margin-left: -8em;
  width: 560px;
  height: 185px;
  background-color: white;
  border-radius: 1px;
}

.infoGraph h2{
  margin: 0;
  color: #FFAB40;
  font-size: 1.1em;
  text-align: center
}

.infoGraph h4{
  margin: 0 0 5px 0;
  color: #FFAB40;
  font-size: .9em;
  text-align: center;
}

.infoGraph p{
  margin: 0 0 5px 0;
  padding: 0 5px 0 5px;
  font-size: .74em;
}

.infoGraphbtaf h2{
  margin: 0;
  color: #9900FF;
  font-size: 1.1em;
  text-align: center;
}

.infoGraphbtaf h4{
  margin: 0 0 5px 0;
  color: #9900FF;
  font-size: .9em;
  text-align: center;
}

.infoGraphbtaf p{
  margin: 0 0 5px 0;
  padding: 0 5px 0 5px;
  font-size: .74em;
}

.singles {
  height: 100%;
  width: 100vw;
  position: relative;
}

.singlesButton{
  background: none;
  border: none;
  font-size: 2em;
  float: right;
  position: absolute;
  z-index: 10;
  left: 10%;
  bottom: 90%;
}


.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 25px;
  color: white;
  padding: 10px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 25px;
  color: white;
  padding: 10px;
}

/*MEDIA QUERIES*/
/*mobile*/

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

      .nav{
          overflow-y: auto;
      }


      .images, .imagesSpecialEx, .imagesLearnHistory, .imagesFirstGallery,
      .imagesSecondGallery, .imagesThirdGallery, .imagesFourthGallery,
      .imagesFifthGallery, .imagesSixthGallery, .camcapImagesRoom4, .camcapImagesRoom6, .camcapImagesRoom7, .rbhImagesRoom2{
        height: 95px;
        top: 9em ;
        left: 8em ;
      }

      .imagesSpecialEx{
        left: 16em;
      }

      .imagesLearnHistory{
          left: 14.4em;
      }


      .imagesFirstGallery{
        left: 10em;
      }

      .imagesSecondGallery, .imagesThirdGallery, .imagesFourthGallery{
        left: 13.5em;
      }

      .imagesSixthGallery{
        left: 15em;
      }

      .imagesSecondGallery h2{
        font-size: 1.5em;
        margin-top: 1em;
      }

      .cardPageTwo{
          width: 150px;
          height: 60px;
          margin-top: 1em;
      }

      .cardPageTwo p{
        font-size: 0.4em;
      }

      .imagesFifthGallery{
        left: 13.5em;
      }

      .imagesFifthGallery h2{
        font-size: .7em;
      }

      .cardPageThree{
        width: 140px;
        margin-left: 0.5em;
      }

      .cardPageThree p{
        font-size: 0.4em;
      }

      .camcapImagesRoom4{
        left: 13em;
      }

      .camcapImagesRoom6{
        left: 12.5em;
      }

      .camcapImagesRoom7{
        left: 21em;
      }

      .hamburger{
        width: 30%;
      }

      .card{
        display: none;
      }

      .infoGraph, .infoGraphbtaf{
        margin-top: 8em;
        margin-left: -6em;
      }

      .infoGraph, .infoGraphbtaf{
        width: 400px;
        height: 130px;
      }

      .infoGraph p{
        font-size: .5em;
      }

      .infoGraphbtaf p{
        font-size: .5em
      }


}
